.goomba {
  position: absolute;
  top: 400px;
  left: 200px;
  width: 150px;
  z-index: 1;
}

.super-mario {
  position: absolute;
  left: 50px;
  width: 200px;
  z-index: 2;
}

.baloon {
  position: absolute;
  width: 200px;
  left: 300px;
  z-index: 4;
}

.bowser {
  position: absolute;
  width: 300px;
  left: 500px;
  z-index: 3;
}

.word {
  position: absolute;
  left: 315px;
  top: 33px;
  z-index: 5;
}

#talking-bowser {
  position: relative;
  left: 500px;  
  top: 150px;
}